template(data-template="calculatorbutton")
	.Calculator-button(v-bind:class="className")
		//- NOTE: Changing it to {{ button.text }} breaks in IE
		//- HACK: using @click.stop because event fires twice sometimes
		span(
			v-bind:class="['btest', button.icon ? button.icon : '']"
			v-if="button.children == null"
			v-text="button.text"
			@click.stop="emitAction($event, button)"
		)
		span(
			v-for="childButton in button.children"
			v-bind:class="[childButton.className || ' btest ', 'btest']"
			v-text="childButton.text"
			@click.stop="emitAction($event, childButton)"
		)

div.App.js-app(v-bind:style="{ opacity: appLoaded ? 1 : 0 }")
	div.Calculator
		header.Calculator-header
			div.Calculator-expressions
				span.Calculator-expressionsOverflow
				span.Calculator-expressionsList {{ expressionList }}

			div.Calculator-operands
				span.Calculator-currentOperand(
						v-bind:class="{ 'has-error': error }"
						v-bind:style="{ 'font-size': font.size, 'font-weight': font.weight }"
					) {{ operand }}


		div.Calculator-body
			div.Calculator-buttonsContainer
				div(
						v-for="button in buttons"
						is="calculatorbutton"
						v-bind:button="button"
					) {{ button.children }}

		div.Calculator-equals(@click.stop="$store.dispatch('showTotal', { explicit: true })")
			div.Calculator-equalsLine
			div.Calculator-equalsLine
